* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* To Box Model */
  }
  
  /* Global */
  body {
    font-family: "Merriweather", sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
    transition: 0.5s;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  button {
    border: none;
    cursor: pointer;
  }
  
  .button__primary {
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  section {
    margin: 4rem 0;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .hide__mobile {
    display: none !important;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9fafc;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 9999;
  }
  
  .navbar__brand {
    width: 100px;
  }
  
  
  .navbar__logo {
    width: 100%;
  }

  .mobile__navbar__items {
    background-color: #f9fafc;
    padding: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 9999;
  }
  
  .hamburger__menu > div {
    width: 35px;
    height: 5px;
    background-color: #f9fafc;
    margin: 6px 0;
  }
  
  .hamburger__menu__close {
    display: none !important;
  }
  
  .mobile__navbar__items > ul > li {
    margin: 20px 0;
  }

  /* HERO */
  section.hero__container {
    margin-top: 1rem;
  }
  
  .hero__container {
    width: 100%;
  }
  .hero__image__container {
    width: 100%;
    position: relative;
  }

  .hero__image__shape {
    position: absolute;
    right: 2;
  }
  
  .hero__image {
    width: 100%;
    position: absolute;
    right: auto;
    left: auto;
    z-index: 2;
    border-radius: 6px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
  
  .hero__text {
    font-size: 1.875rem;
    color: #1d3557;
    line-height: 2.25rem;
    font-weight: 900;
  }

  h1.hero__text {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

  

  /* VIDEO FOOTAGE */
  .video__footage__container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .video__footage {
    position: relative;
  }
  
  .video__footage::before {
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(1rem, 1rem);
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  
  .video__footage__text {
    margin-top: 2rem;
    color: #1d3557;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
  }
  
  /* Menu Styles */
  
  .explore__menu__container {
    margin-top: 3rem;
    text-align: center;
  }

  .explore__menu__lists {
    width: 100%;
  }
  
  .explore__menu__text {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #1d3557;
    font-weight: 900;
  }
  
  .food__menu__card {
    margin-top: 1rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 100%;
  }
  
  .food__image {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  
  .food__menu__card__description {
    padding: 20px;
  }
  
  .explore__menu__view__more {
    display: flex;
    justify-content: center;
  }
  
  /* Flex */
  .restaurant__text {
    margin: 1rem 0;
  }
  .restaurant__list__container {
    margin-top: 3rem;
  }
  .restaurants__description {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #1d3557;
    font-weight: 900;
  }
  .restaurants__flex__row__one,
  .restaurants__flex__row__two {
    width: 100%;
    display: flex;
    gap: 4px;
  }
  .restaurants__flex__row__one {
    align-items: baseline;
    display: flex;
  }
  .restaurants__flex__row__two {
    align-items: baseline;
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
  }
  
  .restaurant__1__image,
  .restaurant__2__image,
  .restaurant__3__image,
  .restaurant__4__image {
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }
  
  .restaurant__1,
  .restaurant__4 {
    width: 100%;
    height: 150px;
  }
  
  .restaurant__2,
  .restaurant__3 {
    width: 120%;
    height: 200px;
  }
  
  /*Email Subscribe*/
  
  .email__subscribe__container {
    margin-top: 3rem;
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .email__field {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .email__input {
    border: 1px solid #ee89a0;
    background-color: #fcedf0;
    color: #1d3557;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 4px;
  }
  
  .email__input::placeholder {
    color: #bdbcbc;
  }
  .text__1 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #1d3557;
    font-weight: 900;
  }
  
  /* Quote */
  .quote__container {
    position: relative;
    margin-top: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
      center center / cover no-repeat;
  }
  .quote_image_overlay {
    position: absolute;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background-color: #0a4065;
    opacity: 49%;
  }
  .quote_image_text {
    color: #fff;
    z-index: 3;
    margin: 0 1rem;
    text-align: center;
  }

  /*Footer*/
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
  }
  
  footer > img {
    width: 300px;
    filter: brightness(0) invert(1);
  }
  
  footer > ul {
    margin-top: -1rem;
    color: #fff;
  }

  footer > ul > li {
    margin: 5px 0;
    list-style: none;
   
    
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  
  
  
  @media (min-width: 768px) {
    .hide__mobile {
      display: block !important;
    }
    .mobile__only {
      display: none !important;
    }
    .navbar {
      justify-content: space-between;
      padding: 10px 20px;
    }
    .navbar__brand {
      width: 150px;
    }
    .button__primary {
      padding: 12px 20px;
      font-size: 20px;
    }
    .hero__container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  
    .explore__menu__container {
      position: relative;
    }
    .explore__menu__gradient__bg {
      position: absolute;
      left: 0;
      top: 0;
  
      height: 100%;
      width: 100%;
  
      background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
  
      z-index: -3;
      transform: skewY(-5deg);
    }
    .explore__menu__lists {
      margin-top: 50px;
      display: flex;
      gap: 8px;
    }
  
    #pizza__card {
      margin-top: -20px;
      margin-bottom: 30px;
    }
    .restaurants__description {
      font-size: 40px;
      width: 100%;
    }
  
    .restaurants__container {
      display: flex;
      align-items: center;
    }
    .restaurants__flex {
      width: 100%;
    }
    .video__footage__container {
      margin-bottom: 5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .video__footage {
      margin-right: 2rem;
    }
    .video__footage__text {
      margin-left: 2rem;
    }
    
    .email__subscribe__container {
      display: flex;
      justify-content: center;
    }
    .email__input {
      width: 20rem;
    }

    .text__1 {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }

    .quote__container {
      height: 300px;
      width: 100%;
    }
    .quote_image_overlay {
      position: absolute;
      height: 300px;
      width: 100%;
      border-radius: 13px;
      background-color: #0a4065;
      opacity: 49%;
    }
    .quote_image_text {
      color: #fff;
      z-index: 3;
      margin: 0 1rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2;
    }

   footer {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
}
  
  @media (min-width: 1020px) {
    .container {
      max-width: 900px;
    }
  
    .hero__text {
      font-size: 50px;
    }
    .explore__menu__lists {
      gap: 20px;
      padding: 0 20px;
    }
  
    .explore__menu__text {
      font-size: 50px;
    }
  
    .restaurants__container{
      margin-top: 30px;
    }
    .video__footage__container {
      display: flex;
      flex-direction: column;
  }
  .video__footage__text {
    width: 60%;
  }
  }
  
  @media (min-width: 1400px) {
    .container {
      max-width: 1250px;
    }
  }
